/about.html
/blog-details.html
/blog-grid.html
/blog.html
/contact.html
/course-details.html
/course.html
/event-details.html
/event.html
/gallery.html
/index-2.html
/index-3.html
/pricing.html
/signin.html
/signup.html
/team-details.html
/team.html